<div class="list-group" ng-if="c.data.storyList.length != 0" ng-repeat="story in c.data.storyList">
  <li class="list-group-item" ng-click='selectedStory(story.str_sys_id, story.criteria)'>
    {{story.name}}</li>
</div>

<div ng-if=" !c.data.storyList && !loading">
  <h2>${No Stories Associated to this module please visit the class page for more details}</h2>
</div>

<!-- <img src="https://picsum.photos/id/1022/200/200">
<img src="https://picsum.photos/id/1015/200/200" style="--color:#4ECDC4">
<img src="https://picsum.photos/id/1016/200/200" style="--color:#FF6B6B"> -->