<div ng-class="stories ? 'col-md-6' : ''">
  <div ng-class="stories ? 'col-md-12' : 'col-md-6'" 
       ng-repeat="story in c.data.storyList"
    	 ng-click='selectedStory(story.str_sys_id); storyShow()'>
    <div class="panel panel-default hover">
      <div ng-class="story.selected ? 'panel-body list-group-background active' : 'panel-body'">
        <h4>
          {{story.name}}
        </h4>
        <p>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 " ng-if="stories">
  <div class="panel panel-default list-group-background">
    <div class="panel-body">
      <sp-widget widget="data.infoDisplay"></sp-widget>
    </div>
  </div>
</div>


<div ng-if="!c.data.storyList && !loading">
  <sp-widget widget="data.coffee"></sp-widget>
</div>