.list-group-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

// .list-group-item .fadedbox {
//   position: absolute;
//   top: 0;
//   left: 0;
//   color: #fff;
//   -webkit-transition: all 300ms ease-out;
//   -moz-transition: all 300ms ease-out;
//   -o-transition: all 300ms ease-out;
//   -ms-transition: all 300ms ease-out;
//   transition: all 300ms ease-out;
//   opacity: 0;
// }

// .list-group-item:hover .fadedbox {
//   opacity: 0.8;
// }

// .list-group-item .text {
//   -webkit-transition: all 300ms ease-out;
//   -moz-transition: all 300ms ease-out;
//   -o-transition: all 300ms ease-out;
//   -ms-transition: all 300ms ease-out;
//   transition: all 300ms ease-out;
//   transform: translateY(30px);
//   -webkit-transform: translateY(30px);
// }

// .list-group-item .title {
//   //font-size: 2.5em;
//   text-transform: uppercase;
//   opacity: 0;
//   transition-delay: 0.2s;
//   transition-duration: 0.3s;
// }

// .list-group-item:hover .title,
// .list-group-item:focus .title {
//   opacity: 1;
//   transform: translateY(0px);
//   -webkit-transform: translateY(0px);
// }

// .list-group-item:hover {
//   background-color: #efe9f2;
// }

// .active:hover {
//   background-color: #efe9f2;
//   color: #fa51e0;
// }

.story-info {
  border-radius: 25px;
}

.list-group-background {
  background-color: $brand-primary;
  color: white;
}

.list-group-item:hover {
  background-color: #efe9f2;
}
.active:hover {
  background-color: #efe9f2;
  color: #fa51e0;
}


