:root {
    --color: #880074;
  }

.button-new {
	color: #880074;
	//color: #1E0A25;
  background: white;
}
  
  .content {
    padding: 0px;
    max-width: 600px;
    margin: 0 auto;
    z-index:1;
    /*padding: 0 20px;*/
  }
  
  .hero {
    //margin-top:-5px;
    padding-top: 0px;
    position: relative;
    background: #ff142c;
    color: white;
    height: 94vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0px;
    margin-bottom: 0px;
    bottom: 0px;
  }
  
  .hero h2 {
    position: relative;
    z-index: 2;
    font-size: 7rem;
    margin: 0 0 10px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .hero p {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.4;
  }
  
  /* ========================= */
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background-color: var(--color);
    transition: 500ms;
  }
  
  .waves::before,
  .waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -70vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .waves::before {
    border-radius: 80vh;
    background: #880074;
    animation: waves 10s linear infinite;
  }
  
  .waves::after {
    border-radius: 80vh;
    background: rgba(51, 51, 51, 0.5);
    animation: waves 16s linear infinite;
  }
  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  