<div class="panel panel-default">
    <div class="panel-body">
        <h3>Resources</h3>
        <div class="list-group-spacing">
            <div class="list-group">

                <div ng-repeat="resource in c.data.resources">
                    <div ng-if="resource.source == 'URL Link'">
                        <a href="{{resource.link}}" target="_blank" class="list-group-item list-group-item-action">
                            {{resource.title}}
                            <br>
                            {{resource.source}}
                        </a>
                    </div>
                    <div ng-if="resource.source == 'OneDrive'">
                        <a ng-click="selectedResource()" class="list-group-item list-group-item-action">
                            {{resource.title}}
                            <br>
                            {{resource.source}}
                            <br>
                            <button ng-click="openResource(resource.sys_id, resource.link, resource.title)"
                                class="btn btn-primary" type="submit"> View Video</button>
                        </a>
                    </div>
                </div>
                <!--https://advancesolution-my.sharepoint.com/personal/bryan_c_advancesolutions_com/_layouts/15/stream.aspx?id=/personal/bryan%5Fc%5Fadvancesolutions%5Fcom/Documents/Trainings%207%2D11%2D2022/Week%2010%20Portal/9%2D12%2D2022%20Portal%20intro%2Emp4&ga=1-->
            </div>
        </div>
    </div>
</div>