<div class="panel panel-default">
	<div class="panel-body">
		<h4>Current Class Modules</h4>
    <div class="col-md-6"      
       	ng-repeat="module in c.data.moduleList"
			 	ng-click='selectedModule(module.mod_sys_id)'>
       <div class="panel panel-default hover">
      	<div ng-class="module.selected ? 'panel-body list-group-background active' : 'panel-body'">
			<h4>
            {{module.name}}
    			</h4>
    		<p>
      {{module.description}}
    </p>
      	</div>
      </div>
	</div>
    </div>
 </div>